@use 'sass:list';

$cell-color: #eee;
$size: 100px;
$cell-font: Arial, sans-serif;
$cell-font-size: 30px;
$padding: 10px;
$cell-color-hover: #ffbfcb;
$cell-position-transform: 20px;
$border: 1px solid black;
$gap: 1px;
$columns: 7;
$days: mon, tue, wed, thu, fri, sat, sun;
$width: ($columns * $size) + (($columns - 1) * $gap) + (2 * $padding);

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: $gap;
  padding: $padding;
  width: $width;

  &__day {
    width: $size;
    height: $size;
    background-color: $cell-color;
    font-family: $cell-font;
    font-size: $cell-font-size;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $border;
    box-sizing: border-box;
    transition: all 200ms;

    &:hover {
      background-color: $cell-color-hover;
      transform: translateY(-$cell-position-transform);
      cursor: pointer;
    }
  }

  @for $i from 1 through 31 {
    &__day:nth-child(#{$i})::before {
      content: '#{$i}';
    }
  }

  @each $day in $days {
    $i: list.index($days, $day);
    &--start-day-#{$day} {
      .calendar__day:first-child {
        margin-left: ($i - 1) * ($size + $gap);
      }
    }
  }

  @for $len from 28 through 31 {
    &--month-length-#{$len} {
      .calendar__day:nth-child(n + #{$len + 1}) {
        display: none;
      }
    }
  }
}
